# ===============================
# Dependencies
# ===============================
node_modules/

# ===============================
# Expo / React Native
# ===============================
.expo/
dist/
web-build/
expo-env.d.ts

# Native
android/
ios/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# ===============================
# Metro / Debug
# ===============================
.metro-health-check*
npm-debug.*
yarn-debug.*
yarn-error.*

# ===============================
# OS
# ===============================
.DS_Store

# ===============================
# ENV / Secrets
# ===============================
.env
.env.local
**/.env

# ===============================
# Database
# ===============================
*.sqlite
*.db

# ===============================
# Uploads / arquivos de usuários
# ===============================
uploads/
backend/uploads/

# ===============================
# Typescript
# ===============================
*.tsbuildinfo

# ===============================
# Misc
# ===============================
app-example

# ===============================
# Pdf's teste
# ===============================
frontend/*.pdf
